<div class="row">
    <div class="col-4">
        @Html.Partial("_SideBarPartial")
    </div>
    <div class="col-8">
        <p>Use this page to detail your site's privacy policy.</p>
    </div>
</div>
