<ul class="list-group">
    @*li.list-group-item*4>lorem2*@
    <li class="list-group-item">Dolor sit.</li>
    <li class="list-group-item">Amet, consectetur.</li>
    <li class="list-group-item">Adipiscing elit.</li>
    <li class="list-group-item">Fusce vel.</li>
</ul>